/* Generalidades */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
}


/* ---------------------------------------------------------------------------------------------------------------- */


/* Filas */

.row {
    width: 100%;
}


/* Columnas */

.col-4 {
    width: 33.333%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}


/* ---------------------------------------------------------------------------------------------------------------- */


/* Comienzo de inicio  */

.img-header {
    background-image: url(https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg);
    background-size: cover;
    height: 100vh;
}


/* barra de navegacion */

.nav-bar {
    height: 10%;
}

.sides-padding a {
    padding: 0 20px;
}

.sides-padding a:hover {
    color: rgb(231, 173, 96);
    text-decoration: underline;
}

.container nav {
    position: fixed;
    top: 0;
}

.icon-nav {
    height: 3rem;
}


/* contenido del medio (Header) */

.title-heigth {
    height: 65%;
}


/* Contenido de los iconos */

.icon-header-heigth {
    height: 35%;
}

.border-circle {
    padding: 5px;
    border: solid 3.5px black;
    border-radius: 40px;
}

.border-circle:hover {
    border-color: rgb(231, 173, 96);
}


/* Fin de inicio */


/* ---------------------------------------------------------------------------------------------------------------- */


/* Inicio de about me */

.col-6 .card:hover {
    border: solid 5px rgb(231, 173, 96);
    border-radius: 8px;
}


/* Fin de About Me */


/* ---------------------------------------------------------------------------------------------------------------- */


/* Inicio de Skills */

.row-skills2 {
    width: 70%;
    height: 90%;
}

.row-skills2 img {
    height: 7rem;
}

.column-skills1 {
    width: 45%;
}

.column-skills2 {
    width: 45%;
}


/* Fin de Skills */


/* ---------------------------------------------------------------------------------------------------------------- */


/* Inicio de Portfolio */

.container-Of-Rows {
    width: 90%;
    height: 100%;
}

.row-portfolio1 {
    width: 100%;
    height: 20%;
}

.title-portfolio1 {
    width: 100%;
    height: 100%;
}

.row-portfolio2 {
    width: 100%;
    height: 80%;
}

.min-row-portfolio {
    height: 50%;
    width: 100%;
}

.column-portfolio {
    height: 90%;
    width: 45%;
    border: solid 2px #DCDCDC;
}

.column-portfolio img {
    width: 24.6rem;
    height: 12rem;
}


/* Fin de Portfolio */


/* ---------------------------------------------------------------------------------------------------------------- */


/* utilidades */


/* ------------------------------------------------ */


/* Display */

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    justify-content: flex-end;
}


/* ------------------------------------------------ */


/* Tarjetas */


/* ------------------------------------------------ */


/* margin */

.sides-margin {
    margin: 0 10px;
}

.total-margin {
    margin: 10px;
}


/* padding */

.left-padding {
    padding-left: 10px;
}

.right-padding {
    padding-right: 10px;
}

.top-padding {
    padding-top: 10px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.side-padding {
    padding-left: 0 20px;
}

.total-padding {
    padding: 8px;
}


/* ------------------------------------------------ */


/* Color de Textos */

.text-white {
    color: ghostwhite;
    text-decoration: none;
}

.text-red {
    color: #FF6363;
}

.text-color1 {
    color: #484848;
}

.text-grey {
    color: dimgray;
}

.text-green {
    color: #0F7425;
}


/* ------------------------------------------------ */


/* Tamaños */

.tittle-sections {
    height: 15vh;
}

.content-sections {
    height: 85vh;
}


/* viejo abajo */

.mini-size {
    font-size: 1.2rem;
}

.min-size {
    width: 100%;
    height: 20%;
}

.medium-size {
    width: 100%;
    height: 50%;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: red;
}


/* ------------------------------------------------ */


/* Colores de fondo */

.back-grey {
    background-color: #fdfcfb;
}

.bg-color-about {
    background-color: #F8F2EC;
}


/* ------------------------------------------------ */


/* Margins */

.margin-top {
    margin-top: 15px;
}

.margin-top-medium {
    margin-top: 30px;
}


/* ------------------------------------------------ */


/* Alineacion y decoracion de textos */

.align-text {
    text-align: center;
}

.text-decoratioN {
    text-decoration: none;
}